{% extends 'shared/base.html' %}
{% load render_partial %}

{% block title %}
	تغییر کلمه عبور
{% endblock %}

{% block content %}
	<div class="container">
        <div class="row">
            <div class="col-md-4 margin">
                {% render_partial 'user_panel.views.user_panel_menu' %}
            </div>
            <div class="col-md-8 margin">
                <form action="{% url 'change_password' %}" method="post">
                    {% csrf_token %}
                    {{ change_password_form.current_password.label }}
                    {{ change_password_form.current_password }}
                    {{ change_password_form.current_password.errors }}
                    {{ change_password_form.new_password.label }}
                    {{ change_password_form.new_password }}
                    {{ change_password_form.new_password.errors }}
                    
                    <button type="submit" class="btn btn-success" id="button">ثبت</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}