{% extends 'shared/base.html' %}
{% load render_partial %}

{% block title %}
	ویرایش اطلاعات کاربری
{% endblock %}

{% block content %}
	<div class="container">
        <div class="row">
            <div class="col-md-4 margin">
                {% if current_user.image %}
                    <a class="thumbnail">
                        <img src="{{ current_user.image.url }}" alt="image" id="image_profile">
                    </a>
                {% endif %}
                {% render_partial 'user_panel.views.user_panel_menu' %}
            </div>
            <div class="col-md-8 margin">
                <form enctype="multipart/form-data" action="{% url 'edit_profile' %}" method="post">
                    {% csrf_token %}
                    {{ edit_form.as_p }}
                    <button type="submit" class="btn btn-success">ثبت</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}