{% extends 'shared/base.html' %}
{% load static %}

{% block title %}
    کیلینیک زیبایی
{% endblock %}

{% block content %}
    <main>
        <section class="banner-area theme-bg-2 p-relative">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="tpbanner">
                            <div class="tpbanner-content"><h2 class="tpbanner-title">کیلینیک زیبایی</h2><b></b>
                                <p>زیبایی و اعتماد به نفس بالا هدیه ما به شماست</p></div>
                            <ul class="tpbanner-list">
                                <h3>برخی از خدمات</h3>
                                {% for service in services %}
                                    <li class="tpbanner-list-1"><span>{{ forloop.counter }} -{{ service.title }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="tpbanner-shape p-relative">
                            <div class="tpbanner-shape-1 d-lg-none d-xl-block"><img
                                    src="{{ home.image_home.url }}" alt="banner"></div>
                            <div class="tpbanner-shape-2 d-none d-lg-block"><img
                                    src="{% static 'assets/img/banner/banner-1shape-1.svg' %}" alt="image"></div>
                            <div class="tpbanner-shape-3"><img
                                    src="{% static 'assets/img/banner/banner-1shape-2.svg' %}" alt="image"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tpbanner-video wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s"
                 style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInRight;">
                <div class="tpbanner-video-info"><a class="tp-btn" href="{% url 'contact_us' %}">تماس با ما</a></div>
                <div class="tpbanner-video-thumb p-relative"><img
                        src="{% static 'assets/img/banner/video-1-bg-1.jpg' %}" alt="image">
                    <div class="tpbanner-video-play"><a class="popup-video"
                                                        href="{{ home.video_url }}"><i>
                        <svg width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 10.268C21.3333 11.0378 21.3333 12.9623 20 13.7321L3.5 23.2583C2.16666 24.0281 0.500001 23.0659 0.500001 21.5263L0.500002 2.47372C0.500002 0.934117 2.16667 -0.0281314 3.5 0.741669L20 10.268Z"
                                  fill="currentColor"></path>
                        </svg>
                    </i></a></div>
                </div>
            </div>
        </section>
        <section class="about-area pt-130 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="tpsection mt-20">
                            <div class="tpsection-sub-title"><span>ما کی هستیم</span></div>
                        </div>
                        <div class="about-thumb mt-70 wow fadeInUp mb-30" data-wow-duration="1s" data-wow-delay=".6s"
                             style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: fadeInUp;">
                            <img src="{% static 'assets/img/about/about-thumb-1.png' %}" alt=""></div>
                    </div>
                    <div class="col-lg-8">
                        <div class="about-wrapper">
                            <div class="tpsection about-left mb-45"><h2 class="tpsection-title">پشتیبانی و مراقبت تا
                                بهبودی کامل
                                <span><img class="d-none d-md-block wow fadeInRight"
                                           src="{% static 'assets/img/about/about-1-shape-1.png' %}" alt=""
                                           data-wow-duration="1s" data-wow-delay=".6s"
                                           style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: fadeInRight;"></span>تکنولوژی
                                بروز</h2></div>
                            <div class="about-box">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="about-box-content p-relative mb-30"><p>هدیه ما زیبایی و اعتماد به
                                            نفس به شما و تصحیح نواقص ساختاری بدن انسان است.</p><h5
                                                class="about-box-title">ماموریت ما
                                        </h5>
                                            <div class="about-box-shape"><img
                                                    src="{% static 'assets/img/about/about-1-shape-2.png' %}"
                                                    alt=""></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="about-box-content about-box-2 p-relative mb-30"><p>مشتری مداری و
                                            ارائه بهترین کیفیت در ایران و حتی خاور میانه</p><h5
                                                class="about-box-title">دیدگاه ما</h5>
                                            <div class="about-box-shape"><img
                                                    src="{% static 'assets/img/about/about-1-shape-2.png' %}"
                                                    alt=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="before-after-area pb-135">
            <div class="container">
                <h2>نمونه ای از قبل و بعد عمل </h2>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <div>
                                <img src="{{ home.image_before_after.url }}" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="team-area pt-145 pb-85">
        <div class="container">
            <div class="row">
                <h1>برخی از جراحان ما</h1>
                <hr>
                {% for doctor in doctors %}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="team-3 p-relative text-center mb-55">
                            <div class="team-3-thumb mb-20">
                                <div class="team-3-thumb-main p-relative fix">
                                    <a href="{% url 'doctor_page' doctor.id %}"><img src="{{ doctor.image.url }}" alt="doctor"></a>
                                    <div class="team-3-shape"><i>
                                        <svg width="362" height="189" viewBox="0 0 362 189" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 0V7.92377C0 107.931 81.04 189 181 189C280.96 189 362 107.921 362 7.91377V0L328.785 10.2766C232.513 40.0623 129.487 40.0624 33.2155 10.2766L0 0Z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </i></div>
                                </div>
                                <div class="team-3-social">
                                    <b><a href="tel:{{ doctor.office_phone }}">تلفن
                                        مطب: {{ doctor.office_phone }}</a></b>
                                </div>
                            </div>
                            <div class="team-3-content">
                                <h4 class="team-3-title"><a href="{% url 'doctor_page' doctor.id %}">{{ doctor.name }}</a></h4>
                                <span>{{ doctor.skill }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <h4 class="alert alert-info col-sm-4 offset-4" id="team_link"><a href="{% url 'team_page' %}">مشاهده همه جراحان و پزشکان مجموعه...</a></h4>
            <hr>
    </section>
        <section class="testimonial-area mb-60">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-6">
                        <div class="testimonial-wrap p-relative mt-20 mb-60">
                            <div class="testimonial-main-bg"><img
                                    src="{% static 'assets/img/testimonial/testimonial-1-bg-1.png' %}"
                                    alt=""></div>
                            <div class="testimonial-shape">
                                <div class="testimonial-shape-1 wow fadeInRight" data-wow-duration="1s"
                                     data-wow-delay=".3s"
                                     style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInRight;">
                                    <img src="{% static 'assets/img/testimonial/testimonial-1-bg-2.png' %}" alt="">
                                </div>
                            </div>
                            <div class="happy-client">
                                <h2 class="count"><span class="odometer odometer-auto-theme" data-count="59"><div
                                        class="odometer-inside"><span class="odometer-digit"><span
                                        class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span
                                        class="odometer-ribbon"><span class="odometer-ribbon-inner"><span
                                        class="odometer-value">2</span></span></span></span></span><span
                                        class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                        class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                        class="odometer-ribbon-inner"><span
                                        class="odometer-value">6</span></span></span></span></span></div></span>ک
                                </h2>
                                <p>مشتریان خوشحال</p></div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6">
                        <div>
                            <h2>بهترین تبلیغ ما مشتریان خوشحال ما هستند</h2>
                            <hr>
                            <p>بیش از 95 هزار مشتری خوشحال و عمل موفق در کیلینیک زیبایی ما.</p>
                            <p>تک تک عمل های  جراحی موفق مجموعه ما گواهی برای بهترین بودن ماست.</p>
                            <p>رضایت مشتریان بعد از عمل هدف ماست.</p>
                            <p>بهترین جراحان ایران و خاور میانه در کیلینیک زیبایی ما آماده خدمت رسانی به شما هموطنان عزیز هستند.</p>
                            <h3 class="alert alert-success"><a href="{% url 'about_us_page' %}">با مطالعه صفحه درباره ما با خیال راحت به ما اعتماد کنید.</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="cta-area mb-120">
            <div class="container">
                <div class="cta-bg" data-background="{% static 'assets/img/banner/cta-bg.jpg' %}"
                     >
                    <div class="row align-items-center">
                        <div class="col-lg-9 col-md-9">
                            <div class="tpsection">
                                <div class="tpsection-sub-title"><span>نوبت ویزیت بگیرید</span></div>
                                <h2 class="tpsection-title">مکالمه با مشاورین ما</h2></div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="cta-phone text-center pl-10"><a class="tp-ripple" href="tel:{{ contact_us.phone_1 }}"><i
                                    class="fa-light fa-phone-volume"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="blog-area mb-110">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tpsection text-center mb-80">
                            <div class="blog-sub-title tpsection-sub-title mb-10">با مطالعه مقالات ما دانش خود را در زمینه های جراحی و زیبایی افزایش دهید</div>
                            <h2 class="tpsection-title">جدیدترین مقالات</h2></div>
                    </div>
                </div>
                <div class="row">
                    {% for current_blog in current_blogs %}
                    	<div class="col-lg-4 col-md-6">
                        <div class="blog-item mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s"
                             style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
                            <div class="blog-content"><span class="blog-title under-line-theme"><a
                                    href="{% url 'blog_detail' current_blog.id %}">{{ current_blog.title|truncatechars:28 }}</a></span></div>
                            <div class="blog-thumb tp-thumb-common fix">
                                <div class="tp-thumb-common-overlay wow"
                                     style="visibility: visible; animation-name: tpoverlay;"></div>
                                <a href="{% url 'blog_detail' current_blog.id %}"><img id="blog_current" src="{{current_blog.image.url }}"
                                                                 alt=""></a></div>
                            <div class="blog-btn"><a href="{% url 'blog_detail' current_blog.id %}">ادامه مطلب<span><svg width="20"
                                                                                                   height="20"
                                                                                                   viewBox="0 0 20 20"
                                                                                                   fill="none"
                                                                                                   xmlns="http://www.w3.org/2000/svg"><path
                                    d="M4.16602 10H15.8327" stroke="currentColor" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path><path
                                    d="M10 4.16699L15.8333 10.0003L10 15.8337" stroke="currentColor" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path></svg></span></a></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
