#services_image {
    height: 350px;
}

#description {
    text-overflow: initial;
    direction: rtl;
}

.margin {
    margin-top: 60px;
    margin-bottom: 60px;
}

#image_profile {
    height: 500px;
    width: 350px;
}

#button {
    margin: 15px;
}

#blog_description {
    direction: rtl;
    overflow: auto;
}

#answer {
    cursor: pointer;
}

#developer {
    color: #fa4832;
}

#navbar {
    margin-left: 50px;
}

#blog_current {
    height: 300px;
}
