{% load static %}
<section class="brand-slider-area">
    <div class="brand-slider-wrap">
        <div class="brand-slide-active splide is-overflow is-initialized splide--loop splide--ltr splide--draggable is-active"
             id="splide01" role="region" aria-roledescription="carousel">
            <div class="splide__track splide__track--loop splide__track--ltr splide__track--draggable"
                 id="splide01-track" style="padding-left: 0px; padding-right: 0px;" aria-live="off" aria-atomic="true">
                <div class="splide__list" id="splide01-list" role="presentation"
                     style="transform: translateX(-1638.58px);">
                    <div class="splide__slide splide__slide--clone is-active" id="splide01-clone01" role="group"
                         aria-roledescription="slide" aria-label="1 of 3" style="margin-right: 40px;"
                         aria-hidden="true">
                        <div class="brand-slider-item"><h4 class="brand-slider-title"><i><img
                                src="{% static 'assets/img/shape/brand-slider-icon-1.png' %}" alt=""></i><a href="#" tabindex="-1">جراحان متخصص</a></h4></div>
                    </div>
                    <div class="splide__slide splide__slide--clone" id="splide01-clone02" role="group"
                         aria-roledescription="slide" aria-label="2 of 3" style="margin-right: 40px;"
                         aria-hidden="true">
                        <div class="brand-slider-item"><h4 class="brand-slider-title"><i><img
                                src="{% static 'assets/img/shape/brand-slider-icon-1.png' %}" alt=""></i><a href="#" tabindex="-1">تجربه بالا</a></h4></div>
                    </div>
                    <div class="splide__slide splide__slide--clone is-prev" id="splide01-clone03" role="group"
                         aria-roledescription="slide" aria-label="3 of 3" style="margin-right: 40px;"
                         aria-hidden="true">
                        <div class="brand-slider-item"><h4 class="brand-slider-title"><a href="#" tabindex="-1">هدیه زیبایی به شما</a></h4></div>
                    </div>
                    <div class="splide__slide is-active" id="splide01-slide01" role="group" aria-roledescription="slide"
                         aria-label="1 of 3" style="margin-right: 40px;">
                        <div class="brand-slider-item"><h4 class="brand-slider-title"><i><img
                                src="{% static 'assets/img/shape/brand-slider-icon-1.png' %}" alt=""></i><a href="#">مراقبت بعد از عمل</a></h4></div>
                    </div>
                    <div class="splide__slide is-next" id="splide01-slide02" role="group" aria-roledescription="slide"
                         aria-label="2 of 3" style="margin-right: 40px;" aria-hidden="true">
                        <div class="brand-slider-item"><h4 class="brand-slider-title"><i><img
                                src="{% static 'assets/img/shape/brand-slider-icon-1.png' %}" alt=""></i><a href="#" tabindex="-1">بهترین در ایران</a></h4></div>
                    </div>
                    <div class="splide__slide" id="splide01-slide03" role="group" aria-roledescription="slide"
                         aria-label="3 of 3" style="margin-right: 40px;" aria-hidden="true">
                        <div class="brand-slider-item"><h4 class="brand-slider-title"><a href="#" tabindex="-1">یکی از بهترین ها در خاور میانه و</a></h4></div>
                    </div>
                    <div class="splide__slide splide__slide--clone is-active" id="splide01-clone04" role="group"
                         aria-roledescription="slide" aria-label="1 of 3" style="margin-right: 40px;"
                         aria-hidden="true">
                        <div class="brand-slider-item"><h4 class="brand-slider-title"><i><img
                                src="{% static 'assets/img/shape/brand-slider-icon-1.png' %}" alt=""></i><a href="#" tabindex="-1">تیم متخصص و با تجربه</a></h4></div>
                    </div>
                    <div class="splide__slide splide__slide--clone" id="splide01-clone05" role="group"
                         aria-roledescription="slide" aria-label="2 of 3" style="margin-right: 40px;"
                         aria-hidden="true">
                        <div class="brand-slider-item"><h4 class="brand-slider-title"><i><img
                                src="{% static 'assets/img/shape/brand-slider-icon-1.png' %}" alt=""></i><a href="#" tabindex="-1">بیشتر از 100 هزار عمل موفق</a></h4></div>
                    </div>
                    <div class="splide__slide splide__slide--clone" id="splide01-clone06" role="group"
                         aria-roledescription="slide" aria-label="3 of 3" style="margin-right: 40px;"
                         aria-hidden="true">
                        <div class="brand-slider-item"><h4 class="brand-slider-title"><a href="#" tabindex="-1">مشتریان خوشحال</a></h4></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="footer-area">
        <div class="footer-top pt-55">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="footer-widget footer-col-1 mb-70 wow fadeInUp" data-wow-duration="1s"
                             data-wow-delay=".2s"
                             style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <div class="footer-logo"><a href="{% url 'home_page' %}"><img src="{% static 'assets/img/logo/logo.png' %}"
                                                                               alt="logo"></a></div>
                            <div class="footer-content">
                                <div class="footer-info"><p>{{ site_setting.text_footer }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="footer-widget footer-col-2 mb-70 wow fadeInUp" data-wow-duration="1s"
                             data-wow-delay=".4s"
                             style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <span class="footer-title">صفحات ما</span>
                            <div class="footer-link">
                                <ul>
                                    <li><a href="{% url 'home_page' %}">صفحه اصلی</a></li>
                                    <li><a href="{% url 'about_us_page' %}">درباره ما</a></li>
                                    <li><a href="{% url 'blog_list' %}">مقالات</a></li>
                                    <li><a href="{% url 'services_page' %}">خدمات</a></li>
                                    <li><a href="{% url 'team_page' %}">پزشکان</a></li>
                                    <li><a href="{% url 'contact_us' %}">تماس با ما</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-5 col-md-8">
                        <div class="footer-widget footer-col-3 mb-70 wow fadeInUp" data-wow-duration="1s"
                             data-wow-delay=".6s"
                             style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: fadeInUp;">
                            <span class="footer-title">خدمات ما</span>
                            <div class="footer-link">
                                <ul>
                                    {% for service in services %}
                                    	<li><a href="{% url 'service_detail' service.id %}">{{ service.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom footer-bottom-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <div class="footer-copyright text-center"><span>©{{ site_setting.copy_right_text }}</span><a
                                href="tel:09210902253" id="developer">طراح سایت: علی احمدی</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>