{% load static %}
<script src="{% static 'assets/js/vendor/jquery.js' %}"></script>
<script src="{% static 'assets/js/vendor/waypoints.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-bundle.js' %}"></script>
<script src="{% static 'assets/js/meanmenu.js' %}"></script>
<script src="{% static 'assets/js/swiper-bundle.js' %}"></script>
<script src="{% static 'assets/js/slick.js' %}"></script>
<script src="{% static 'assets/js/nouislider.js' %}"></script>
<script src="{% static 'assets/js/magnific-popup.js' %}"></script>
<script src="{% static 'assets/js/parallax.js' %}"></script>
<script src="{% static 'assets/js/nice-select.js' %}"></script>
<script src="{% static 'assets/js/wow.js' %}"></script>
<script src="{% static 'assets/js/isotope-pkgd.js' %}"></script>
<script src="{% static 'assets/js/imagesloaded-pkgd.js' %}"></script>
<script src="{% static 'assets/js/jquery.appear.js' %}"></script>
<script src="{% static 'assets/js/odometer.min.js' %}"></script>
<script src="{% static 'assets/js/beforeafter.jquery-1.0.0.min.js' %}"></script>
<script src="{% static 'assets/js/splide.js' %}"></script>
<script src="{% static 'assets/js/pignose.calendar.full.min.js' %}"></script>
<script src="{% static 'assets/js/ajax-form.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>